** 과제 설명 **
- 데이터 : 어떤 상점의 고객 정보 데이터
    - Customer: 고객 번호
    - SSN: (Social Security Number) 미국에서의 주민등록번호
    - Birthdate: 생년월일
    - Age: 나이
    - CredCardUser: 신용카드 사용 여부
    - Income: 고객의 소득
    - Purchases: 가게에서 물건을 구매한 횟수
    - AmountSpent: 가게에서 총 구매한 액수
    - 참고: 9999 값은 null 값을 의미함
<br><br>
- 문제에 답하기 위해서 필요한 기능들을 수행하고, 기능을 수행한 결과를 토대로 문제에 답할 것
    - 필요한 기능들을 수행한 코드와 코드의 실행 결과를 제시
    - 수행한 코드 밑에 markdown 형태로 코드에 대한 간단한 설명(사용한 함수에 대한 설명, 왜 그 함수를 사용했는지 등)과 함께 답을 제시
 <br>
    <참고>
        - 코드를 모두 한 칸에 작성할 필요는 없음. 답과 연계되는 중간 과정은 따로 지우지 않아도 됨 (그냥 시도해본 중간 과정은 지우세요 답과 연계되는 중간과정이 아니면 감점합니다.)
        - 위에서부터 순서대로 코드를 실행했을 때 처음부터 끝까지 제대로 실행되어야 함
<br><br>
- 제출 기한: 9월 18일(화) 밤 11시 59분

그 밖의 문의 사항은 je5719@postech.ac.kr로 문의 주시기 바랍니다.

# 0. 필요한 모듈 import

In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

# 1. 데이터 읽어오기 (1점)
DataCleansing.csv 파일을 읽고 dataframe 객체로 저장

In [2]:
data = pd.read_csv('DataCleansing.csv')
data

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,01.01.32,67.0,West,1,23300.0,0,0
2,3,418-18-5649,08.17.73,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,08.02.47,51.0,West,1,137600.0,2,920
4,5,059-58-9566,10.03.48,50.0,East,0,101400.0,2,1000
5,6,443-13-8685,03.24.60,39.0,East,0,139700.0,1,550
6,7,638-89-7231,12.02.43,55.0,South,1,50900.0,3,1400
7,8,202-94-6453,11.08.74,24.0,South,1,50500.0,0,0
8,9,266-29-0308,09.28.67,31.0,North,0,151400.0,2,910
9,10,943-85-8301,07.05.65,33.0,West,0,88300.0,2,1080
10,11,047-07-5332,11.13.64,34.0,North,0,120300.0,3,1390
11,12,503-14-3400,03.21.34,65.0,East,0,25800.0,1,560
12,13,690-97-5817,12.29.60,38.0,West,0,65500.0,1,410
13,14,614-59-6703,08.01.72,26.0,South,1,54400.0,9999,9999
14,15,704-98-5642,05.01.52,46.0,North,0,54500.0,7,3570
15,16,588-92-9590,08.29.39,59.0,South,0,143500.0,2,1070
16,17,267-58-0440,04.05.57,42.0,East,1,40500.0,2,950
17,18,833-81-4506,11.01.67,31.0,West,1,61900.0,2,930
18,19,645-20-8840,03.02.58,41.0,West,1,106300.0,2,1010
19,20,700-29-4704,01.10.33,66.0,South,0,133700.0,3,1570
20,21,443-16-6366,11.28.38,60.0,South,1,101900.0,3,1560
21,22,932-34-0537,09.22.47,51.0,West,0,83000.0,3,1440
22,23,943-09-9693,12.08.76,22.0,North,1,150500.0,0,0
23,24,429-27-7896,09.08.30,68.0,North,0,24600.0,2,1080
24,25,977-81-8641,07.03.62,36.0,East,0,108500.0,6,3220
25,26,637-52-5564,01.28.53,46.0,East,0,92600.0,5,2260
26,27,208-24-5411,11.05.45,53.0,East,0,129100.0,1,580
27,28,326-15-9711,02.08.62,37.0,East,1,101500.0,2,1040
28,29,437-20-5008,10.20.41,57.0,East,0,75800.0,3,1640
29,30,168-38-3752,01.10.51,48.0,East,0,80500.0,7,3640
...,...,...,...,...,...,...,...,...,...
1473,1474,491-57-3083,05.02.60,38.0,South,0,86500.0,2,1110
1474,1475,368-23-0763,04.24.50,48.0,East,0,126800.0,1,510
1475,1476,955-75-1871,10.10.44,54.0,North,0,106300.0,3,1510
1476,1477,398-78-6899,12.17.74,24.0,East,1,58700.0,2,1040
1477,1478,592-76-2035,12.19.58,40.0,East,0,31000.0,4,1830
1478,1479,178-44-7525,01.12.62,37.0,North,1,110800.0,4,1930
1479,1480,070-93-0068,08.23.52,46.0,North,1,20000.0,6,3060
1480,1481,265-89-7966,04.18.71,27.0,North,0,57800.0,4,1900
1481,1482,208-32-8324,08.25.56,42.0,East,0,154100.0,0,0
1482,1483,276-36-6086,07.25.44,54.0,West,0,54800.0,2,1000
1483,1484,005-06-4020,06.16.52,46.0,South,1,42700.0,6,2890
1484,1485,825-37-4303,10.24.61,37.0,East,0,70900.0,1,510
1485,1486,425-06-5062,04.29.65,33.0,North,1,65600.0,5,2500
1486,1487,883-36-5815,11.23.71,27.0,North,1,134600.0,3,1500
1487,1488,664-44-3655,01.20.33,66.0,East,1,117900.0,6,3310
1488,1489,038-72-8622,04.19.65,33.0,West,1,117900.0,3,1460
1489,1490,496-69-6574,08.06.33,65.0,East,1,111200.0,1,560
1490,1491,782-98-9539,12.27.55,43.0,South,0,63000.0,2,1030
1491,1492,642-14-9012,01.16.34,65.0,North,0,36400.0,3,1360
1492,1493,287-48-5517,07.21.30,68.0,South,0,114500.0,3,1500
1493,1494,766-67-0139,03.15.42,57.0,North,0,64300.0,5,2330
1494,1495,251-91-5281,02.10.64,35.0,South,0,126600.0,2,940
1495,1496,542-84-9996,11.03.75,23.0,South,1,29700.0,3,1640
1496,1497,880-57-0607,03.14.48,51.0,West,0,102700.0,5,2480
1497,1498,632-29-6841,02.06.45,54.0,West,1,89700.0,2,1000
1498,1499,347-70-0762,09.28.65,33.0,West,0,71800.0,2,970
1499,1500,638-19-2849,07.31.30,68.0,South,0,121100.0,5,2540
1500,1501,670-57-4549,07.21.54,44.0,North,1,64000.0,4,2160
1501,1502,166-84-2698,10.30.66,32.0,South,0,91000.0,6,2910
1502,1503,366-03-5021,09.23.34,64.0,South,0,121400.0,1,530

# 2. 데이터 훑어보기 (1점)
실습 자료 Looking through data 참조

In [3]:
data.describe()

,Customer,Age,CredCardUser,Income,Purchases,AmountSpent
count,1503.000000,1502.000000,1503.000000,1502.000000,1503.000000,1503.000000
mean,752.000000,45.788282,0.400532,89752.341545,122.659348,1562.010645
std,434.023041,15.216376,0.490169,41307.730486,1087.712454,1246.573066
min,1.000000,-31.000000,0.000000,22.000000,0.000000,0.000000
25%,376.500000,34.000000,0.000000,55350.000000,2.000000,940.000000
50%,752.000000,47.000000,0.000000,90100.000000,3.000000,1460.000000
75%,1127.500000,58.000000,1.000000,124875.000000,4.000000,2020.000000
max,1503.000000,72.000000,1.000000,160000.000000,9999.000000,9999.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 9 columns):
Customer        1503 non-null int64
SSN             1502 non-null object
Birthdate       1502 non-null object
Age             1502 non-null float64
Region          1502 non-null object
CredCardUser    1503 non-null int64
Income          1502 non-null float64
Purchases       1503 non-null int64
AmountSpent     1503 non-null int64
dtypes: float64(2), int64(4), object(3)
memory usage: 105.8+ KB

In [5]:
data.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,01.01.32,67.0,West,1,23300.0,0,0
2,3,418-18-5649,08.17.73,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,08.02.47,51.0,West,1,137600.0,2,920
4,5,059-58-9566,10.03.48,50.0,East,0,101400.0,2,1000

# 3. Missing data & Duplicated data 처리하기 (8점)

## 3.1 Missing data 확인 후, 제거하기 (3점)
1. 각 column별 Missing data의 수 확인하기
2. Missing data를 가지고 있는 row 확인하기
3. Missing data 제거하기

In [6]:
data.isnull().any()

Customer        False
SSN              True
Birthdate        True
Age              True
Region           True
CredCardUser    False
Income           True
Purchases       False
AmountSpent     False
dtype: bool

In [7]:
data[data.isnull().any(axis=1)]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
50,51,912-79-3758,NaN,NaN,North,1,54500.0,1,1060
59,60,123-46-7548,10.18.60,42.0,NaN,1,NaN,1,550
80,81,NaN,12.27.54,44.0,West,1,143200.0,3,4660

In [8]:
data.dropna(how='any')

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,01.01.32,67.0,West,1,23300.0,0,0
2,3,418-18-5649,08.17.73,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,08.02.47,51.0,West,1,137600.0,2,920
4,5,059-58-9566,10.03.48,50.0,East,0,101400.0,2,1000
5,6,443-13-8685,03.24.60,39.0,East,0,139700.0,1,550
6,7,638-89-7231,12.02.43,55.0,South,1,50900.0,3,1400
7,8,202-94-6453,11.08.74,24.0,South,1,50500.0,0,0
8,9,266-29-0308,09.28.67,31.0,North,0,151400.0,2,910
9,10,943-85-8301,07.05.65,33.0,West,0,88300.0,2,1080
10,11,047-07-5332,11.13.64,34.0,North,0,120300.0,3,1390
11,12,503-14-3400,03.21.34,65.0,East,0,25800.0,1,560
12,13,690-97-5817,12.29.60,38.0,West,0,65500.0,1,410
13,14,614-59-6703,08.01.72,26.0,South,1,54400.0,9999,9999
14,15,704-98-5642,05.01.52,46.0,North,0,54500.0,7,3570
15,16,588-92-9590,08.29.39,59.0,South,0,143500.0,2,1070
16,17,267-58-0440,04.05.57,42.0,East,1,40500.0,2,950
17,18,833-81-4506,11.01.67,31.0,West,1,61900.0,2,930
18,19,645-20-8840,03.02.58,41.0,West,1,106300.0,2,1010
19,20,700-29-4704,01.10.33,66.0,South,0,133700.0,3,1570
20,21,443-16-6366,11.28.38,60.0,South,1,101900.0,3,1560
21,22,932-34-0537,09.22.47,51.0,West,0,83000.0,3,1440
22,23,943-09-9693,12.08.76,22.0,North,1,150500.0,0,0
23,24,429-27-7896,09.08.30,68.0,North,0,24600.0,2,1080
24,25,977-81-8641,07.03.62,36.0,East,0,108500.0,6,3220
25,26,637-52-5564,01.28.53,46.0,East,0,92600.0,5,2260
26,27,208-24-5411,11.05.45,53.0,East,0,129100.0,1,580
27,28,326-15-9711,02.08.62,37.0,East,1,101500.0,2,1040
28,29,437-20-5008,10.20.41,57.0,East,0,75800.0,3,1640
29,30,168-38-3752,01.10.51,48.0,East,0,80500.0,7,3640
...,...,...,...,...,...,...,...,...,...
1473,1474,491-57-3083,05.02.60,38.0,South,0,86500.0,2,1110
1474,1475,368-23-0763,04.24.50,48.0,East,0,126800.0,1,510
1475,1476,955-75-1871,10.10.44,54.0,North,0,106300.0,3,1510
1476,1477,398-78-6899,12.17.74,24.0,East,1,58700.0,2,1040
1477,1478,592-76-2035,12.19.58,40.0,East,0,31000.0,4,1830
1478,1479,178-44-7525,01.12.62,37.0,North,1,110800.0,4,1930
1479,1480,070-93-0068,08.23.52,46.0,North,1,20000.0,6,3060
1480,1481,265-89-7966,04.18.71,27.0,North,0,57800.0,4,1900
1481,1482,208-32-8324,08.25.56,42.0,East,0,154100.0,0,0
1482,1483,276-36-6086,07.25.44,54.0,West,0,54800.0,2,1000
1483,1484,005-06-4020,06.16.52,46.0,South,1,42700.0,6,2890
1484,1485,825-37-4303,10.24.61,37.0,East,0,70900.0,1,510
1485,1486,425-06-5062,04.29.65,33.0,North,1,65600.0,5,2500
1486,1487,883-36-5815,11.23.71,27.0,North,1,134600.0,3,1500
1487,1488,664-44-3655,01.20.33,66.0,East,1,117900.0,6,3310
1488,1489,038-72-8622,04.19.65,33.0,West,1,117900.0,3,1460
1489,1490,496-69-6574,08.06.33,65.0,East,1,111200.0,1,560
1490,1491,782-98-9539,12.27.55,43.0,South,0,63000.0,2,1030
1491,1492,642-14-9012,01.16.34,65.0,North,0,36400.0,3,1360
1492,1493,287-48-5517,07.21.30,68.0,South,0,114500.0,3,1500
1493,1494,766-67-0139,03.15.42,57.0,North,0,64300.0,5,2330
1494,1495,251-91-5281,02.10.64,35.0,South,0,126600.0,2,940
1495,1496,542-84-9996,11.03.75,23.0,South,1,29700.0,3,1640
1496,1497,880-57-0607,03.14.48,51.0,West,0,102700.0,5,2480
1497,1498,632-29-6841,02.06.45,54.0,West,1,89700.0,2,1000
1498,1499,347-70-0762,09.28.65,33.0,West,0,71800.0,2,970
1499,1500,638-19-2849,07.31.30,68.0,South,0,121100.0,5,2540
1500,1501,670-57-4549,07.21.54,44.0,North,1,64000.0,4,2160
1501,1502,166-84-2698,10.30.66,32.0,South,0,91000.0,6,2910
1502,1503,366-03-5021,09.23.34,64.0,South,0,121400.0,1,530

## 3.2 9999 값 확인 후, 제거하기 (3점)
이 데이터에서 9999는 null 값(missing value)을 의미하므로 제거해줘야 함
1. 9999 데이터 확인하기
2. 9999 데이터 제거하기

In [9]:
data[(data['Purchases']==9999)|(data['AmountSpent']==9999)|(data['Income']==9999)|(data['Age']==9999)]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
13,14,614-59-6703,08.01.72,26.0,South,1,54400.0,9999,9999
46,47,601-10-4503,12.19.48,50.0,East,1,9999.0,2,1020
155,156,048-55-8930,09.05.34,64.0,West,1,64400.0,9999,9999
252,253,586-87-0627,06.24.52,46.0,East,1,53300.0,9999,9999
272,273,985-78-7861,08.17.40,58.0,South,0,9999.0,2,940
289,290,133-53-5943,09.22.35,63.0,North,1,20000.0,9999,9999
319,320,865-85-3875,12.19.31,67.0,South,0,149900.0,9999,9999
377,378,867-63-6238,09.17.71,27.0,West,0,29900.0,9999,9999
434,435,572-79-9529,01.21.67,32.0,West,1,104500.0,9999,9999
445,446,087-21-2053,07.02.52,46.0,West,0,141200.0,9999,9999
449,450,856-77-6560,01.06.40,59.0,South,1,9999.0,0,0
471,472,797-55-3419,09.16.61,37.0,North,1,132800.0,9999,9999
520,521,378-83-7998,11.02.74,24.0,West,1,9999.0,2,940
529,530,906-06-0341,03.26.52,47.0,South,0,9999.0,3,1590
572,573,758-72-4033,11.07.70,28.0,South,1,9999.0,3,1520
607,608,600-05-9780,07.10.58,40.0,North,1,9999.0,0,0
798,799,918-32-8454,03.22.54,45.0,North,0,9999.0,3,1570
826,827,376-25-7809,11.02.27,-29.0,North,1,9999.0,2,1070
860,861,819-34-4450,05.26.59,39.0,South,1,101300.0,9999,9999
982,983,967-97-4228,07.04.63,35.0,South,1,76800.0,9999,9999
1063,1064,377-29-0406,10.08.51,47.0,West,1,93000.0,9999,9999
1108,1109,102-74-2447,03.14.30,69.0,West,0,59300.0,9999,9999
1123,1124,637-23-3846,06.14.54,44.0,South,0,64000.0,9999,9999
1127,1128,394-20-9464,10.20.75,23.0,North,1,129400.0,9999,9999
1146,1147,211-02-9333,08.13.34,64.0,North,0,71.0,9999,9999
1237,1238,470-28-5741,07.01.52,46.0,North,0,9999.0,1,480
1300,1301,552-06-0509,10.12.37,61.0,North,0,23700.0,9999,9999
1440,1441,452-69-6883,01.16.74,25.0,South,0,116400.0,9999,9999

In [10]:
data=data[(data['Purchases']!=9999)&(data['AmountSpent']!=9999)&(data['Income']!=9999)&(data['Age']!=9999)]
data

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,01.01.32,67.0,West,1,23300.0,0,0
2,3,418-18-5649,08.17.73,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,08.02.47,51.0,West,1,137600.0,2,920
4,5,059-58-9566,10.03.48,50.0,East,0,101400.0,2,1000
5,6,443-13-8685,03.24.60,39.0,East,0,139700.0,1,550
6,7,638-89-7231,12.02.43,55.0,South,1,50900.0,3,1400
7,8,202-94-6453,11.08.74,24.0,South,1,50500.0,0,0
8,9,266-29-0308,09.28.67,31.0,North,0,151400.0,2,910
9,10,943-85-8301,07.05.65,33.0,West,0,88300.0,2,1080
10,11,047-07-5332,11.13.64,34.0,North,0,120300.0,3,1390
11,12,503-14-3400,03.21.34,65.0,East,0,25800.0,1,560
12,13,690-97-5817,12.29.60,38.0,West,0,65500.0,1,410
14,15,704-98-5642,05.01.52,46.0,North,0,54500.0,7,3570
15,16,588-92-9590,08.29.39,59.0,South,0,143500.0,2,1070
16,17,267-58-0440,04.05.57,42.0,East,1,40500.0,2,950
17,18,833-81-4506,11.01.67,31.0,West,1,61900.0,2,930
18,19,645-20-8840,03.02.58,41.0,West,1,106300.0,2,1010
19,20,700-29-4704,01.10.33,66.0,South,0,133700.0,3,1570
20,21,443-16-6366,11.28.38,60.0,South,1,101900.0,3,1560
21,22,932-34-0537,09.22.47,51.0,West,0,83000.0,3,1440
22,23,943-09-9693,12.08.76,22.0,North,1,150500.0,0,0
23,24,429-27-7896,09.08.30,68.0,North,0,24600.0,2,1080
24,25,977-81-8641,07.03.62,36.0,East,0,108500.0,6,3220
25,26,637-52-5564,01.28.53,46.0,East,0,92600.0,5,2260
26,27,208-24-5411,11.05.45,53.0,East,0,129100.0,1,580
27,28,326-15-9711,02.08.62,37.0,East,1,101500.0,2,1040
28,29,437-20-5008,10.20.41,57.0,East,0,75800.0,3,1640
29,30,168-38-3752,01.10.51,48.0,East,0,80500.0,7,3640
30,31,564-00-1130,06.19.30,68.0,East,1,151000.0,5,2460
...,...,...,...,...,...,...,...,...,...
1473,1474,491-57-3083,05.02.60,38.0,South,0,86500.0,2,1110
1474,1475,368-23-0763,04.24.50,48.0,East,0,126800.0,1,510
1475,1476,955-75-1871,10.10.44,54.0,North,0,106300.0,3,1510
1476,1477,398-78-6899,12.17.74,24.0,East,1,58700.0,2,1040
1477,1478,592-76-2035,12.19.58,40.0,East,0,31000.0,4,1830
1478,1479,178-44-7525,01.12.62,37.0,North,1,110800.0,4,1930
1479,1480,070-93-0068,08.23.52,46.0,North,1,20000.0,6,3060
1480,1481,265-89-7966,04.18.71,27.0,North,0,57800.0,4,1900
1481,1482,208-32-8324,08.25.56,42.0,East,0,154100.0,0,0
1482,1483,276-36-6086,07.25.44,54.0,West,0,54800.0,2,1000
1483,1484,005-06-4020,06.16.52,46.0,South,1,42700.0,6,2890
1484,1485,825-37-4303,10.24.61,37.0,East,0,70900.0,1,510
1485,1486,425-06-5062,04.29.65,33.0,North,1,65600.0,5,2500
1486,1487,883-36-5815,11.23.71,27.0,North,1,134600.0,3,1500
1487,1488,664-44-3655,01.20.33,66.0,East,1,117900.0,6,3310
1488,1489,038-72-8622,04.19.65,33.0,West,1,117900.0,3,1460
1489,1490,496-69-6574,08.06.33,65.0,East,1,111200.0,1,560
1490,1491,782-98-9539,12.27.55,43.0,South,0,63000.0,2,1030
1491,1492,642-14-9012,01.16.34,65.0,North,0,36400.0,3,1360
1492,1493,287-48-5517,07.21.30,68.0,South,0,114500.0,3,1500
1493,1494,766-67-0139,03.15.42,57.0,North,0,64300.0,5,2330
1494,1495,251-91-5281,02.10.64,35.0,South,0,126600.0,2,940
1495,1496,542-84-9996,11.03.75,23.0,South,1,29700.0,3,1640
1496,1497,880-57-0607,03.14.48,51.0,West,0,102700.0,5,2480
1497,1498,632-29-6841,02.06.45,54.0,West,1,89700.0,2,1000
1498,1499,347-70-0762,09.28.65,33.0,West,0,71800.0,2,970
1499,1500,638-19-2849,07.31.30,68.0,South,0,121100.0,5,2540
1500,1501,670-57-4549,07.21.54,44.0,North,1,64000.0,4,2160
1501,1502,166-84-2698,10.30.66,32.0,South,0,91000.0,6,2910
1502,1503,366-03-5021,09.23.34,64.0,South,0,121400.0,1,530

## 3.3 중복 데이터 확인 후, 제거하기 (2점)
1. 중복 값 확인
2. 중복 값 제거

In [11]:
data.duplicated(keep=False).head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [12]:
data.drop_duplicates(subset='SSN', keep=False)

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,01.01.32,67.0,West,1,23300.0,0,0
2,3,418-18-5649,08.17.73,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,08.02.47,51.0,West,1,137600.0,2,920
4,5,059-58-9566,10.03.48,50.0,East,0,101400.0,2,1000
5,6,443-13-8685,03.24.60,39.0,East,0,139700.0,1,550
6,7,638-89-7231,12.02.43,55.0,South,1,50900.0,3,1400
7,8,202-94-6453,11.08.74,24.0,South,1,50500.0,0,0
8,9,266-29-0308,09.28.67,31.0,North,0,151400.0,2,910
9,10,943-85-8301,07.05.65,33.0,West,0,88300.0,2,1080
10,11,047-07-5332,11.13.64,34.0,North,0,120300.0,3,1390
11,12,503-14-3400,03.21.34,65.0,East,0,25800.0,1,560
12,13,690-97-5817,12.29.60,38.0,West,0,65500.0,1,410
14,15,704-98-5642,05.01.52,46.0,North,0,54500.0,7,3570
15,16,588-92-9590,08.29.39,59.0,South,0,143500.0,2,1070
16,17,267-58-0440,04.05.57,42.0,East,1,40500.0,2,950
17,18,833-81-4506,11.01.67,31.0,West,1,61900.0,2,930
18,19,645-20-8840,03.02.58,41.0,West,1,106300.0,2,1010
19,20,700-29-4704,01.10.33,66.0,South,0,133700.0,3,1570
20,21,443-16-6366,11.28.38,60.0,South,1,101900.0,3,1560
21,22,932-34-0537,09.22.47,51.0,West,0,83000.0,3,1440
22,23,943-09-9693,12.08.76,22.0,North,1,150500.0,0,0
23,24,429-27-7896,09.08.30,68.0,North,0,24600.0,2,1080
24,25,977-81-8641,07.03.62,36.0,East,0,108500.0,6,3220
25,26,637-52-5564,01.28.53,46.0,East,0,92600.0,5,2260
26,27,208-24-5411,11.05.45,53.0,East,0,129100.0,1,580
27,28,326-15-9711,02.08.62,37.0,East,1,101500.0,2,1040
28,29,437-20-5008,10.20.41,57.0,East,0,75800.0,3,1640
29,30,168-38-3752,01.10.51,48.0,East,0,80500.0,7,3640
30,31,564-00-1130,06.19.30,68.0,East,1,151000.0,5,2460
...,...,...,...,...,...,...,...,...,...
1473,1474,491-57-3083,05.02.60,38.0,South,0,86500.0,2,1110
1474,1475,368-23-0763,04.24.50,48.0,East,0,126800.0,1,510
1475,1476,955-75-1871,10.10.44,54.0,North,0,106300.0,3,1510
1476,1477,398-78-6899,12.17.74,24.0,East,1,58700.0,2,1040
1477,1478,592-76-2035,12.19.58,40.0,East,0,31000.0,4,1830
1478,1479,178-44-7525,01.12.62,37.0,North,1,110800.0,4,1930
1479,1480,070-93-0068,08.23.52,46.0,North,1,20000.0,6,3060
1480,1481,265-89-7966,04.18.71,27.0,North,0,57800.0,4,1900
1481,1482,208-32-8324,08.25.56,42.0,East,0,154100.0,0,0
1482,1483,276-36-6086,07.25.44,54.0,West,0,54800.0,2,1000
1483,1484,005-06-4020,06.16.52,46.0,South,1,42700.0,6,2890
1484,1485,825-37-4303,10.24.61,37.0,East,0,70900.0,1,510
1485,1486,425-06-5062,04.29.65,33.0,North,1,65600.0,5,2500
1486,1487,883-36-5815,11.23.71,27.0,North,1,134600.0,3,1500
1487,1488,664-44-3655,01.20.33,66.0,East,1,117900.0,6,3310
1488,1489,038-72-8622,04.19.65,33.0,West,1,117900.0,3,1460
1489,1490,496-69-6574,08.06.33,65.0,East,1,111200.0,1,560
1490,1491,782-98-9539,12.27.55,43.0,South,0,63000.0,2,1030
1491,1492,642-14-9012,01.16.34,65.0,North,0,36400.0,3,1360
1492,1493,287-48-5517,07.21.30,68.0,South,0,114500.0,3,1500
1493,1494,766-67-0139,03.15.42,57.0,North,0,64300.0,5,2330
1494,1495,251-91-5281,02.10.64,35.0,South,0,126600.0,2,940
1495,1496,542-84-9996,11.03.75,23.0,South,1,29700.0,3,1640
1496,1497,880-57-0607,03.14.48,51.0,West,0,102700.0,5,2480
1497,1498,632-29-6841,02.06.45,54.0,West,1,89700.0,2,1000
1498,1499,347-70-0762,09.28.65,33.0,West,0,71800.0,2,970
1499,1500,638-19-2849,07.31.30,68.0,South,0,121100.0,5,2540
1500,1501,670-57-4549,07.21.54,44.0,North,1,64000.0,4,2160
1501,1502,166-84-2698,10.30.66,32.0,South,0,91000.0,6,2910
1502,1503,366-03-5021,09.23.34,64.0,South,0,121400.0,1,530

# 4. Data cleansing - Birthdate & Age (16점)

## 4.1 Birthdate (11점)

### 4.1.1 Birthdate 타입 변경 (4점)

In [13]:
# 날짜 데이터를 다루기 위한 모듈
import datetime as dt

In [14]:
data['Birthdate'].tail()

1498    09.28.65
1499    07.31.30
1500    07.21.54
1501    10.30.66
1502    09.23.34
Name: Birthdate, dtype: object

In [15]:
data['Birthdate']=pd.to_datetime((data['Birthdate']))
data.head()

/Users/donghoon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,2044-10-26,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,2032-01-01,67.0,West,1,23300.0,0,0
2,3,418-18-5649,1973-08-17,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,2047-08-02,51.0,West,1,137600.0,2,920
4,5,059-58-9566,2048-10-03,50.0,East,0,101400.0,2,1000

In [16]:
def f(x):
    if x.year>2018:
        return dt.datetime(x.year-100,x.month,x.day)
    else :
        return x

In [17]:
data.Birthdate=data.Birthdate.apply(f)

/Users/donghoon/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [18]:
data.head(20)

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,72.0,East,0,62900.0,4,2080
1,2,444-05-4079,1932-01-01,67.0,West,1,23300.0,0,0
2,3,418-18-5649,1973-08-17,25.0,East,1,48700.0,8,3990
3,4,065-63-3311,1947-08-02,51.0,West,1,137600.0,2,920
4,5,059-58-9566,1948-10-03,50.0,East,0,101400.0,2,1000
5,6,443-13-8685,1960-03-24,39.0,East,0,139700.0,1,550
6,7,638-89-7231,1943-12-02,55.0,South,1,50900.0,3,1400
7,8,202-94-6453,1974-11-08,24.0,South,1,50500.0,0,0
8,9,266-29-0308,1967-09-28,31.0,North,0,151400.0,2,910
9,10,943-85-8301,1965-07-05,33.0,West,0,88300.0,2,1080
10,11,047-07-5332,1964-11-13,34.0,North,0,120300.0,3,1390
11,12,503-14-3400,1934-03-21,65.0,East,0,25800.0,1,560
12,13,690-97-5817,1960-12-29,38.0,West,0,65500.0,1,410
14,15,704-98-5642,1952-05-01,46.0,North,0,54500.0,7,3570
15,16,588-92-9590,1939-08-29,59.0,South,0,143500.0,2,1070
16,17,267-58-0440,1957-04-05,42.0,East,1,40500.0,2,950
17,18,833-81-4506,1967-11-01,31.0,West,1,61900.0,2,930
18,19,645-20-8840,1958-03-02,41.0,West,1,106300.0,2,1010
19,20,700-29-4704,1933-01-10,66.0,South,0,133700.0,3,1570
20,21,443-16-6366,1938-11-28,60.0,South,1,101900.0,3,1560

Birthdate의 형태가 'M.D.Y'에서 'Y-M-D'로 바뀐 것을 확인할 수 있음. 데이터 타입 또한 datetime으로 변경됨.<br>
하지만 첫 줄에서 볼 수 있듯이, 2044-10-26과 같은 불가능한 생일의 형태가 존재함. 이런 데이터는 1944-10-26으로 바꿔줘야 함.

### 4.1.2 잘못된 생일 조정 (4점)
태어난 해가 2018 이상일 경우 100년 전으로 조정 (예를 들어, 2018-04-10은 1918-04-10으로 조정)

In [19]:
# 참고: '.year'을 이용하면 datetime 타입 데이터의 년도 정보를 확인할 수 있음
data.loc[0, 'Birthdate'].year

1944

In [20]:
# 참고: datetime 형태의 데이터를 비교할 때, 위에서 import한 datetime 모듈(dt)을 이용할 수 있음
dt.datetime(2003, 5, 5)

datetime.datetime(2003, 5, 5, 0, 0)

## 4.2 Age (5점)

### 4.2.1 나이 이상치 파악 (1점)

In [21]:
data['Age'].value_counts()

 57.0    43
 51.0    42
 46.0    41
 61.0    40
 68.0    40
 47.0    38
 64.0    36
 54.0    36
 56.0    36
 41.0    35
 36.0    35
 58.0    35
 62.0    35
 33.0    34
 40.0    34
 65.0    34
 60.0    34
 32.0    32
 31.0    32
 26.0    32
 35.0    32
 55.0    31
 28.0    30
 59.0    30
 66.0    30
 29.0    29
 42.0    29
 43.0    29
 52.0    29
 48.0    28
 50.0    28
 67.0    27
 49.0    27
 34.0    27
 27.0    27
 24.0    26
 37.0    26
 25.0    26
 44.0    25
 23.0    24
 45.0    24
 39.0    23
 53.0    22
 30.0    22
 22.0    22
 38.0    21
 63.0    20
 71.0    18
 69.0     6
-30.0     5
-28.0     2
-29.0     2
-31.0     1
-27.0     1
 72.0     1
Name: Age, dtype: int64

### 4.2.2 나이(만 나이) 다시 계산 (4점)

In [22]:
# 참고: 오늘 날짜 구하는 방법
dt.date.today().year

2018

In [23]:
data.Age=data.Birthdate.apply(lambda x : dt.date.today().year-x.year)

/Users/donghoon/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [24]:
data.Age

0       74.0
1       86.0
2       45.0
3       71.0
4       70.0
5       58.0
6       75.0
7       44.0
8       51.0
9       53.0
10      54.0
11      84.0
12      58.0
14      66.0
15      79.0
16      61.0
17      51.0
18      60.0
19      85.0
20      80.0
21      71.0
22      42.0
23      88.0
24      56.0
25      65.0
26      73.0
27      56.0
28      77.0
29      67.0
30      88.0
        ...
1473    58.0
1474    68.0
1475    74.0
1476    44.0
1477    60.0
1478    56.0
1479    66.0
1480    47.0
1481    62.0
1482    74.0
1483    66.0
1484    57.0
1485    53.0
1486    47.0
1487    85.0
1488    53.0
1489    85.0
1490    63.0
1491    84.0
1492    88.0
1493    76.0
1494    54.0
1495    43.0
1496    70.0
1497    73.0
1498    53.0
1499    88.0
1500    64.0
1501    52.0
1502    84.0
Name: Age, Length: 1475, dtype: float64

In [25]:
data.Age.value_counts()

84.0    42
77.0    42
71.0    42
75.0    39
80.0    38
81.0    38
76.0    38
51.0    37
56.0    36
67.0    36
65.0    35
60.0    35
66.0    35
88.0    34
69.0    34
53.0    33
87.0    33
82.0    32
55.0    32
42.0    32
61.0    32
72.0    32
52.0    31
74.0    31
85.0    31
79.0    31
46.0    30
48.0    30
47.0    29
78.0    29
62.0    28
44.0    28
54.0    28
63.0    27
86.0    26
64.0    26
59.0    26
49.0    25
68.0    25
57.0    24
45.0    24
73.0    23
43.0    22
50.0    22
70.0    22
91.0    21
58.0    21
83.0    19
90.0     6
89.0     1
93.0     1
Name: Age, dtype: int64

# 5. Data cleansing - Region (2점)
1. Region 데이터의 구성 파악
2. 데이터 조정

In [26]:
data.Region.value_counts()

South     361
East      348
West      332
North     314
 South     36
 East      35
 North     24
 West      24
Name: Region, dtype: int64

In [27]:
dtcopy = data.copy()
dtcopy['Region'].isnull().value_counts()
dtcopy = dtcopy.dropna()
dtcopy

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,74.0,East,0,62900.0,4,2080
1,2,444-05-4079,1932-01-01,86.0,West,1,23300.0,0,0
2,3,418-18-5649,1973-08-17,45.0,East,1,48700.0,8,3990
3,4,065-63-3311,1947-08-02,71.0,West,1,137600.0,2,920
4,5,059-58-9566,1948-10-03,70.0,East,0,101400.0,2,1000
5,6,443-13-8685,1960-03-24,58.0,East,0,139700.0,1,550
6,7,638-89-7231,1943-12-02,75.0,South,1,50900.0,3,1400
7,8,202-94-6453,1974-11-08,44.0,South,1,50500.0,0,0
8,9,266-29-0308,1967-09-28,51.0,North,0,151400.0,2,910
9,10,943-85-8301,1965-07-05,53.0,West,0,88300.0,2,1080
10,11,047-07-5332,1964-11-13,54.0,North,0,120300.0,3,1390
11,12,503-14-3400,1934-03-21,84.0,East,0,25800.0,1,560
12,13,690-97-5817,1960-12-29,58.0,West,0,65500.0,1,410
14,15,704-98-5642,1952-05-01,66.0,North,0,54500.0,7,3570
15,16,588-92-9590,1939-08-29,79.0,South,0,143500.0,2,1070
16,17,267-58-0440,1957-04-05,61.0,East,1,40500.0,2,950
17,18,833-81-4506,1967-11-01,51.0,West,1,61900.0,2,930
18,19,645-20-8840,1958-03-02,60.0,West,1,106300.0,2,1010
19,20,700-29-4704,1933-01-10,85.0,South,0,133700.0,3,1570
20,21,443-16-6366,1938-11-28,80.0,South,1,101900.0,3,1560
21,22,932-34-0537,1947-09-22,71.0,West,0,83000.0,3,1440
22,23,943-09-9693,1976-12-08,42.0,North,1,150500.0,0,0
23,24,429-27-7896,1930-09-08,88.0,North,0,24600.0,2,1080
24,25,977-81-8641,1962-07-03,56.0,East,0,108500.0,6,3220
25,26,637-52-5564,1953-01-28,65.0,East,0,92600.0,5,2260
26,27,208-24-5411,1945-11-05,73.0,East,0,129100.0,1,580
27,28,326-15-9711,1962-02-08,56.0,East,1,101500.0,2,1040
28,29,437-20-5008,1941-10-20,77.0,East,0,75800.0,3,1640
29,30,168-38-3752,1951-01-10,67.0,East,0,80500.0,7,3640
30,31,564-00-1130,1930-06-19,88.0,East,1,151000.0,5,2460
...,...,...,...,...,...,...,...,...,...
1473,1474,491-57-3083,1960-05-02,58.0,South,0,86500.0,2,1110
1474,1475,368-23-0763,1950-04-24,68.0,East,0,126800.0,1,510
1475,1476,955-75-1871,1944-10-10,74.0,North,0,106300.0,3,1510
1476,1477,398-78-6899,1974-12-17,44.0,East,1,58700.0,2,1040
1477,1478,592-76-2035,1958-12-19,60.0,East,0,31000.0,4,1830
1478,1479,178-44-7525,1962-01-12,56.0,North,1,110800.0,4,1930
1479,1480,070-93-0068,1952-08-23,66.0,North,1,20000.0,6,3060
1480,1481,265-89-7966,1971-04-18,47.0,North,0,57800.0,4,1900
1481,1482,208-32-8324,1956-08-25,62.0,East,0,154100.0,0,0
1482,1483,276-36-6086,1944-07-25,74.0,West,0,54800.0,2,1000
1483,1484,005-06-4020,1952-06-16,66.0,South,1,42700.0,6,2890
1484,1485,825-37-4303,1961-10-24,57.0,East,0,70900.0,1,510
1485,1486,425-06-5062,1965-04-29,53.0,North,1,65600.0,5,2500
1486,1487,883-36-5815,1971-11-23,47.0,North,1,134600.0,3,1500
1487,1488,664-44-3655,1933-01-20,85.0,East,1,117900.0,6,3310
1488,1489,038-72-8622,1965-04-19,53.0,West,1,117900.0,3,1460
1489,1490,496-69-6574,1933-08-06,85.0,East,1,111200.0,1,560
1490,1491,782-98-9539,1955-12-27,63.0,South,0,63000.0,2,1030
1491,1492,642-14-9012,1934-01-16,84.0,North,0,36400.0,3,1360
1492,1493,287-48-5517,1930-07-21,88.0,South,0,114500.0,3,1500
1493,1494,766-67-0139,1942-03-15,76.0,North,0,64300.0,5,2330
1494,1495,251-91-5281,1964-02-10,54.0,South,0,126600.0,2,940
1495,1496,542-84-9996,1975-11-03,43.0,South,1,29700.0,3,1640
1496,1497,880-57-0607,1948-03-14,70.0,West,0,102700.0,5,2480
1497,1498,632-29-6841,1945-02-06,73.0,West,1,89700.0,2,1000
1498,1499,347-70-0762,1965-09-28,53.0,West,0,71800.0,2,970
1499,1500,638-19-2849,1930-07-31,88.0,South,0,121100.0,5,2540
1500,1501,670-57-4549,1954-07-21,64.0,North,1,64000.0,4,2160
1501,1502,166-84-2698,1966-10-30,52.0,South,0,91000.0,6,2910
1502,1503,366-03-5021,1934-09-23,84.0,South,0,121400.0,1,530

In [28]:
dtcopy['Region'].isnull().value_counts()

False    1472
Name: Region, dtype: int64

In [29]:
dtcopy['Region'] = dtcopy['Region'].apply(lambda x : str(x).split()[0]) #값(value)을 통일시킨 모습
dtcopy['Region'].value_counts()

South    397
East     383
West     355
North    337
Name: Region, dtype: int64

In [30]:
data=dtcopy
data.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,74.0,East,0,62900.0,4,2080
1,2,444-05-4079,1932-01-01,86.0,West,1,23300.0,0,0
2,3,418-18-5649,1973-08-17,45.0,East,1,48700.0,8,3990
3,4,065-63-3311,1947-08-02,71.0,West,1,137600.0,2,920
4,5,059-58-9566,1948-10-03,70.0,East,0,101400.0,2,1000

# 6. Data cleansing - Income (7점)
데이터를 입력하는 사람에 따라 단위를 다르게 생각하고 값을 입력할 수 있다. 예를 들어, 소득이 20000달러일 때, 어떤 사람은 20000이라고 입력하고 어떤 사람은 1000달러를 기본 단위로 생각하여 20를 입력할 수 있다. 이를 고려하여 이상치를 찾고, 이상치라고 판단할 수 있는 근거를 제시하라. 또한, 이 이상치를 어떻게 처리할지 제시하고 처리하라.
1. 이상치라고 판단되는 값 확인
2. 이상치라고 판단할 근거 제시 (일반적인 값이라고 판단되는 데이터를 찾고, 비교)
3. 이상치 처리

In [31]:
data.sort_values('Income',ascending=True).head(20)

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
441,442,390-77-9781,1970-06-03,48.0,West,0,22.0,8,4160
595,596,744-30-0499,1960-05-04,58.0,East,0,25.0,5,2460
1345,1346,435-02-2521,1942-08-24,76.0,West,1,43.0,5,2600
927,928,820-65-4438,1932-11-12,86.0,North,0,55.0,6,2980
462,463,756-41-9393,1971-05-14,47.0,East,0,81.0,3,1500
409,410,241-86-3823,1959-07-03,59.0,East,1,88.0,4,2000
835,836,908-76-1846,1960-09-17,58.0,West,0,104.0,4,1970
235,236,924-59-1581,1931-05-12,87.0,South,0,138.0,6,2950
51,52,669-39-4544,1933-10-05,85.0,West,0,149.0,2,1010
818,819,884-27-5089,1962-03-05,56.0,North,1,151.0,2,900
1479,1480,070-93-0068,1952-08-23,66.0,North,1,20000.0,6,3060
35,36,071-68-0276,1966-06-04,52.0,North,0,20100.0,3,1520
1026,1027,911-88-9367,1943-10-14,75.0,North,0,20100.0,2,890
854,855,179-09-4170,1963-10-07,55.0,East,0,20100.0,3,1490
961,962,291-83-3665,1939-08-19,79.0,South,1,20600.0,5,490
662,663,940-38-8978,1972-12-25,46.0,North,1,20600.0,1,520
1240,1241,524-94-9288,1930-10-07,88.0,East,1,20900.0,1,490
1360,1361,862-30-4596,1947-06-16,71.0,North,0,21200.0,6,2980
542,543,103-58-9172,1970-11-18,48.0,South,0,21400.0,2,1060
706,707,776-33-7801,1974-10-12,44.0,South,1,21400.0,2,980

In [36]:
#평균이 90418이고 하위 25% 값이 56175인걸로 미루어 보아 최소 만 단위의 데이터가 존재해야함을 알수있다
data['Income'].describe()
#10000미만의 세자리 데이터에 1000을 곱하여 데이터를 정제한다.
data.Income=data.Income.apply(lambda x :x*1000 if x<10000 else x)
data.Income.value_counts()

44800.0     5
101400.0    4
50500.0     4
34300.0     4
25900.0     4
82400.0     4
33100.0     4
48400.0     4
97200.0     4
154200.0    4
34000.0     4
111300.0    4
134600.0    4
153800.0    4
85200.0     4
141800.0    4
149600.0    4
117300.0    4
139400.0    4
139500.0    4
142700.0    4
117900.0    4
88500.0     4
146800.0    4
124900.0    3
92800.0     3
70900.0     3
65400.0     3
38300.0     3
38900.0     3
           ..
49200.0     1
61800.0     1
79600.0     1
99700.0     1
34100.0     1
115600.0    1
69400.0     1
96200.0     1
39200.0     1
48900.0     1
157700.0    1
55300.0     1
145700.0    1
74100.0     1
62500.0     1
33600.0     1
144000.0    1
51400.0     1
121100.0    1
114900.0    1
135600.0    1
46200.0     1
149500.0    1
117000.0    1
69500.0     1
97800.0     1
148600.0    1
55500.0     1
101300.0    1
95400.0     1
Name: Income, Length: 916, dtype: int64

In [37]:
#데이터 정제한 결과
data['Income'].describe()

count      1472.000000
mean      90999.388587
std       40360.865652
min       20000.000000
25%       57000.000000
50%       91250.000000
75%      125625.000000
max      160000.000000
Name: Income, dtype: float64