# pandas
pandas: 효과적인 데이터 분석을 위한 고수준의 자료구조와 데이터 분석 도구를 제공하는 라이브러리
- pandas Series: 1차원 데이터를 다루는 데 효과적인 자료구조
- pandas DataFrame: 행과 열로 구성된 2차원의 데이터를 다루는 데 효과적인 자료구조

참고1) 파이썬으로 배우는 트레이딩 알고리즘 (https://wikidocs.net/4367) <br>
참고2) Python for Data Analysis <br>
참고3) pandas documentation (https://pandas.pydata.org/pandas-docs/stable/dsintro.html)

In [1]:
import pandas as pd

# Series
- 어떤 면에서는 파이썬의 리스트와 비슷하고 어떤 면에서는 딕셔너리와 닮은 자료구조
- 일차원 배열과 달리 값뿐만 아니라 각 값에 연결된 인덱스 값도 저장<br>

<font size = 4.7><center>< __Structure of Series__ ></center></font>
<img src="https://wikidocs.net/images/page/4364/r13.02.png" alt="Drawing" style="width: 300px;"/>

In [2]:
from pandas import Series

In [3]:
kakao = Series([92600, 92400, 92100, 94300, 92300])
kakao

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [4]:
kakao2 = Series([92600, 92400, 92100, 94300, 92300], 
                index=['2016-02-19', '2016-02-18', '2016-02-17', '2016-02-16', '2016-02-15'])
kakao2

2016-02-19    92600
2016-02-18    92400
2016-02-17    92100
2016-02-16    94300
2016-02-15    92300
dtype: int64

# DataFrame
- pandas의 주요 자료 구조
- 행과 열로 구성된 2차원 형태의 자료구조 (일반적인 엑셀 문서의 형태)
- Series 객체를 담는 사전이라고 생각할 수 있음<br><br>

<font size = 4.7><center>< __Structure of DataFrame__ ></center></font>
<img src="https://wikidocs.net/images/page/4367/r13.10.png" alt="Drawing" style="width: 550px;"/>
<br>
<br>
<font size = 4.7><center>< __DataFrame as dictionary of Series__ ></center></font>
<img src="https://wikidocs.net/images/page/4367/r13.11.png" alt="Drawing" style="width: 650px;"/>

In [5]:
from pandas import DataFrame

In [6]:
raw_data = {'col0': [1, 2, 3, 4],
            'col1': [10, 20, 30, 40],
            'col2': [100, 200, 300, 400]}

data = DataFrame(raw_data)
data

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [7]:
daeshin = {'open':  [11650, 11100, 11200, 11100, 11000],
           'high':  [12100, 11800, 11200, 11100, 11150],
           'low' :  [11600, 11050, 10900, 10950, 10900],
           'close': [11900, 11600, 11000, 11100, 11050]}

date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']

daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'], index=date)
daeshin_day

           open   high    low  close
16.02.29  11650  12100  11600  11900
16.02.26  11100  11800  11050  11600
16.02.25  11200  11200  10900  11000
16.02.24  11100  11100  10950  11100
16.02.23  11000  11150  10900  11050

# Getting Started with pandas

In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## Creating Series & DataFrame
#### Series
- from ndarray
- from dict
- from scalar value
<br>

#### DataFrame
- from dict of Series or dicts
- from dict of ndarrays / lists
- from structured or record array
- from a list of dicts
- from a dict of tuples
- from a Series

*참고: pandas documentation (https://pandas.pydata.org/pandas-docs/stable/dsintro.html)

## Load Data
- CSV
- Excel
- Database
- URL

*참고: http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

## Read csv
- csv 파일 읽어오기

tips data description
- customer_id: customer id
- total_bill: total bill (cost of the meal), including tax, in US dollars
- tip: tip (gratuity) in US dollars
- sex: sex of person paying for the meal (male, Female)
- smoker: somker in party? (No, Yes)
- day: Thur, Fri, Sat, Sun
- time: Lunch, Dinner
- size: size of the party

In [9]:
# read_csv 함수
tips = pd.read_csv('tips.csv')
tips

     customer_id  total_bill   tip     sex smoker       day    time  size
0              1       16.99  1.01  Female     No       Sun  Dinner   2.0
1              2       10.34  1.66    Male     No    Sunday  Dinner   3.0
2              3       21.01  3.50    Male     No       Sun  Dinner   3.0
3              4       23.68  3.31    Male     No       Sun  Dinner   2.0
4              5       24.59  3.61  Female     No       Sun  Dinner   4.0
5              6       25.29  4.71    Male     No       Sun  Dinner   4.0
6              7        8.77  2.00    Male     No       Sun  Dinner   2.0
7              8       26.88  3.12    Male     No    Sunday  Dinner   4.0
8              9       15.04  1.96    Male     No       Sun  Dinner   2.0
9             10       14.78  3.23    Male     No       Sun  Dinner   2.0
10            11       10.27  1.71    Male     No       Sun  Dinner   2.0
11            12       35.26  5.00  Female     No    Sunday  Dinner   4.0
12            13       15.42  1.57    Male     No       Sun  Dinner   2.0
13            14       18.43  3.00    Male     No       Sun  Dinner   4.0
14            15       14.83  3.02  Female     No    Sunday  Dinner   2.0
15            16       21.58  3.92    Male     No       Sun  Dinner   2.0
16            17       10.33  1.67  Female     No    Sunday  Dinner   3.0
17            18       16.29  3.71    Male     No    Sunday  Dinner   3.0
18            19       16.97  3.50  Female     No       Sun  Dinner   3.0
19            20       20.65  3.35    Male     No  Saturday  Dinner   3.0
20            21       17.92  4.08    Male     No       Sat  Dinner   2.0
21            22       20.29  2.75  Female     No       Sat  Dinner   2.0
22            23       15.77  2.23  Female     No       Sat  Dinner   2.0
23            24       39.42  7.58    Male     No       Sat  Dinner   4.0
24            25       19.82  3.18    Male     No       Sat  Dinner   2.0
25            26       17.81  2.34    Male     No       Sat  Dinner   4.0
26            27       13.37  2.00    Male     No       Sat  Dinner   2.0
27            28       12.69  2.00    Male     No  saturday  Dinner   2.0
28            29       21.70  4.30    Male     No       Sat  Dinner   2.0
29            30       19.65  3.00  Female     No       Sat  Dinner   2.0
..           ...         ...   ...     ...    ...       ...     ...   ...
221          219       28.17  6.50  Female    Yes       Sat  Dinner   3.0
222          220       12.90  1.10  Female    Yes       Sat  Dinner   2.0
223          221       28.15  3.00    Male    Yes       Sat  Dinner   5.0
224          222       11.59  1.50    Male    Yes       Sat  Dinner   2.0
225          223        7.74  1.44    Male    Yes       Sat  Dinner   2.0
226          224       30.14  3.09  Female    Yes       Sat  Dinner   4.0
227          225       12.16  2.20    Male    Yes       Fri   Lunch   2.0
228          226       13.42  3.48  Female    Yes       Fri   Lunch   2.0
229          227        8.58  1.92    Male    Yes    Friday   Lunch   1.0
230          228       15.98  3.00  Female     No    Friday   Lunch   3.0
231          229       13.42  1.58    Male    Yes       Fri   Lunch   2.0
232          230       16.27  2.50  Female    Yes       Fri   Lunch   2.0
233          231       10.09  2.00  Female    Yes       Fri   Lunch   2.0
234          232       20.45  3.00    Male     No       Sat  Dinner   4.0
235          233       13.28  2.72    Male     No       Sat  Dinner   2.0
236          234       22.12  2.88  Female    Yes       Sat  Dinner   2.0
237          235       24.01  2.00    Male    Yes       Sat  Dinner   4.0
238          236       15.69  3.00    Male    Yes       Sat  Dinner   3.0
239          237       11.61  3.39    Male     No       Sat  Dinner   2.0
240          238       10.77  1.47    Male     No       Sat  Dinner   2.0
241          239       15.53  3.00    Male    Yes       Sat  Dinner   2.0
242          240       10.07  1.25    Male     No       Sat  Dinner   2.0
243          241       12.60  1.00    Male    Yes       Sat  Dinner   2.0
244          242       32.83  1.17    Male    Yes       Sat  Dinner   2.0
245          243       35.83  4.67  Female     No       Sat  Dinner   3.0
246          244       29.03  5.92    Male     No       Sat  Dinner   3.0
247          245       27.18  2.00  Female    Yes       Sat  Dinner   2.0
248          246       22.67  2.00    Male    Yes       Sat  Dinner   2.0
249          247       17.82  1.75    Male     No       Sat  Dinner   2.0
250          248       18.78  3.00  Female     No      Thur  Dinner   2.0

[251 rows x 8 columns]

## Looking through data

전체적으로 데이터 훑어보기

In [10]:
tips.describe()

       customer_id  total_bill         tip        size
count   251.000000  251.000000  248.000000  250.000000
mean    124.191235   19.987689    2.998347    2.580000
std      71.523558    9.046846    1.382070    0.950375
min       1.000000    3.070000    1.000000    1.000000
25%      62.500000   13.405000    2.000000    2.000000
50%     124.000000   17.820000    2.855000    2.000000
75%     185.500000   24.535000    3.562500    3.000000
max     248.000000   50.810000   10.000000    6.000000

In [11]:
tips.head(6)

   customer_id  total_bill   tip     sex smoker     day    time  size
0            1       16.99  1.01  Female     No     Sun  Dinner   2.0
1            2       10.34  1.66    Male     No  Sunday  Dinner   3.0
2            3       21.01  3.50    Male     No     Sun  Dinner   3.0
3            4       23.68  3.31    Male     No     Sun  Dinner   2.0
4            5       24.59  3.61  Female     No     Sun  Dinner   4.0
5            6       25.29  4.71    Male     No     Sun  Dinner   4.0

In [12]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 8 columns):
customer_id    251 non-null int64
total_bill     251 non-null float64
tip            248 non-null float64
sex            250 non-null object
smoker         250 non-null object
day            251 non-null object
time           251 non-null object
size           250 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 15.8+ KB

## Indexing, selection
- 데이터 검색하기

### column 이름으로 접근

In [13]:
tips[["total_bill", 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
5         25.29  4.71
6          8.77  2.00
7         26.88  3.12
8         15.04  1.96
9         14.78  3.23
10        10.27  1.71
11        35.26  5.00
12        15.42  1.57
13        18.43  3.00
14        14.83  3.02
15        21.58  3.92
16        10.33  1.67
17        16.29  3.71
18        16.97  3.50
19        20.65  3.35
20        17.92  4.08
21        20.29  2.75
22        15.77  2.23
23        39.42  7.58
24        19.82  3.18
25        17.81  2.34
26        13.37  2.00
27        12.69  2.00
28        21.70  4.30
29        19.65  3.00
..          ...   ...
221       28.17  6.50
222       12.90  1.10
223       28.15  3.00
224       11.59  1.50
225        7.74  1.44
226       30.14  3.09
227       12.16  2.20
228       13.42  3.48
229        8.58  1.92
230       15.98  3.00
231       13.42  1.58
232       16.27  2.50
233       10.09  2.00
234       20.45  3.00
235       13.28  2.72
236       22.12  2.88
237       24.01  2.00
238       15.69  3.00
239       11.61  3.39
240       10.77  1.47
241       15.53  3.00
242       10.07  1.25
243       12.60  1.00
244       32.83  1.17
245       35.83  4.67
246       29.03  5.92
247       27.18  2.00
248       22.67  2.00
249       17.82  1.75
250       18.78  3.00

[251 rows x 2 columns]

In [14]:
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
221    28.17
222    12.90
223    28.15
224    11.59
225     7.74
226    30.14
227    12.16
228    13.42
229     8.58
230    15.98
231    13.42
232    16.27
233    10.09
234    20.45
235    13.28
236    22.12
237    24.01
238    15.69
239    11.61
240    10.77
241    15.53
242    10.07
243    12.60
244    32.83
245    35.83
246    29.03
247    27.18
248    22.67
249    17.82
250    18.78
Name: total_bill, Length: 251, dtype: float64

In [15]:
tips.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
221    28.17
222    12.90
223    28.15
224    11.59
225     7.74
226    30.14
227    12.16
228    13.42
229     8.58
230    15.98
231    13.42
232    16.27
233    10.09
234    20.45
235    13.28
236    22.12
237    24.01
238    15.69
239    11.61
240    10.77
241    15.53
242    10.07
243    12.60
244    32.83
245    35.83
246    29.03
247    27.18
248    22.67
249    17.82
250    18.78
Name: total_bill, Length: 251, dtype: float64

In [16]:
tips.day.values

array(['Sun', 'Sunday', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sunday',
       'Sun', 'Sun', 'Sun', 'Sunday', 'Sun', 'Sun', 'Sunday', 'Sun',
       'Sunday', 'Sunday', 'Sun', 'Saturday', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'saturday', 'Sat', 'Sat', 'saturday', 'Sat',
       'Sat', 'Sat.', 'Sat', 'Sat.', 'Sat', 'Sat', 'Sat', 'Saturday',
       'Saturday', 'Sun', 'Sun', 'Sun', 'Sunday', 'Sunday', 'Sunday',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun.', 'Sun.', 'Sun.', 'Sun', 'Sun',
       'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat.',
       'Saturday', 'Sat', 'Saturday', 'Sat', 'Sat', 'Thur', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Fri', 'Fri',
       'Friday', 'friday', 'Fri', 'Fri', 'Fri', 'Friday', 'Fri', 'Fri',
       'Fri', 'Friday', 'Sat', 'Sat', 'Sat', 'Fri', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Saturday', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sat', 'Sat', 'Sat', 'Sat', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun',
       'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Thur',
       'Thur', 'Thur', 'Thur', 'Thur', 'Thur', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Fri', 'Fri', 'Friday', 'Friday', 'Fri', 'Fri', 'Fri',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat',
       'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Sat', 'Thur'],
      dtype=object)

### index로 접근

In [17]:
tips[0:7]

   customer_id  total_bill   tip     sex smoker     day    time  size
0            1       16.99  1.01  Female     No     Sun  Dinner   2.0
1            2       10.34  1.66    Male     No  Sunday  Dinner   3.0
2            3       21.01  3.50    Male     No     Sun  Dinner   3.0
3            4       23.68  3.31    Male     No     Sun  Dinner   2.0
4            5       24.59  3.61  Female     No     Sun  Dinner   4.0
5            6       25.29  4.71    Male     No     Sun  Dinner   4.0
6            7        8.77  2.00    Male     No     Sun  Dinner   2.0

### loc, iloc
- loc: 라벨 이름으로 검색 (원래 인덱스가 정수인 경우는 예외적으로 허용)
- iloc: 정숫값 인덱스로 검색<br>

*참고: https://datascienceschool.net/view-notebook/704731b41f794b8ea00768f5b0904512/

In [18]:
tips.loc[[1, 2], ['tip', 'sex']]
# tips.loc[:, [1, 2, 3]] -> 에러 발생

    tip   sex
1  1.66  Male
2  3.50  Male

In [19]:
tips.loc[[1, 3, 6], ['tip', 'sex']]

    tip   sex
1  1.66  Male
3  3.31  Male
6  2.00  Male

In [20]:
tips.iloc[[2, 5, 7], 1:4]

   total_bill   tip   sex
2       21.01  3.50  Male
5       25.29  4.71  Male
7       26.88  3.12  Male

## Exploring data

### 데이터 구성 파악

In [21]:
tips.columns

Index(['customer_id', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time',
       'size'],
      dtype='object')

In [22]:
tips.sex.unique()

array(['Female', 'Male', nan], dtype=object)

In [23]:
tips.day.unique()

array(['Sun', 'Sunday', 'Saturday', 'Sat', 'saturday', 'Sat.', 'Sun.',
       'Thur', 'Fri', 'Friday', 'friday'], dtype=object)

In [24]:
tips.sex.value_counts()S

SyntaxError: invalid syntax (<ipython-input-24-b19a129008d6>, line 1)

### Sorting

In [ ]:
tips.sort_values('total_bill', ascending=False)

### filtering
- 특정 조건을 만족하는 데이터만 추출

흡연자가 없었던 경우만 검색

In [ ]:
tips.smoker == 'No'

In [ ]:
tips[tips.smoker == 'No']

총 지출액이 15달러 이상이었던 경우만 검색

In [ ]:
tips['total_bill'] >= 15

In [ ]:
tips[tips['total_bill'] >= 15]

### 실습 1) loc 또는 iloc을 이용하여 '흡연자이면서 팁을 5달러 이상 낸 고객'의 'size' 값의 구성을 파악하여라.

In [ ]:
(tips['smoker'] == 'Yes') & (tips['tip'] >= 5)

In [ ]:
tips.loc[(tips['smoker'] == 'Yes') & (tips['tip'] >= 5), 'size']

In [ ]:
tips.loc[(tips['smoker'] == 'Yes') & (tips['tip'] >= 5), 'size'].value_counts()

In [ ]:
# iloc은 boolean indexxing으로 안 됨
#tips.iloc[(tips['smoker'] == 'Yes') & (tips['tip'] >= 5), 7]

## Handling missing data

#### find missing data
*참고: https://stackoverflow.com/questions/29530232/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe

In [ ]:
tips.isnull()

In [ ]:
tips.notnull()

특정 column의 null 값 찾기

In [ ]:
tips.isnull()

In [ ]:
tips.isnull().any()

In [ ]:
tips.isnull().sum() # sum 함수는 summarizing and computing descriptive statistics  참조

특정 row의 null 값 찾기

In [ ]:
tips.isnull().any(axis=1)

In [ ]:
tips[tips.isnull().any(axis=1)]

#### Filtering out missing data

In [ ]:
tips.dropna() # how='all' 조건을 넣어줄 경우 모든 값이 Null인 row만 제거

In [ ]:
tips

#### Filling in Missing Data
* 참고: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html

### 실습2) dropna 함수를 사용하지 않고 null 값을 제거하여라.

In [ ]:
tips.notnull().all()

In [ ]:
tips[tips.notnull().all(axis=1)]

In [ ]:
tips = tips[tips.notnull().all(axis=1)]

## Handling duplicated data

In [ ]:
tips

In [ ]:
tips.duplicated()

In [ ]:
tips.drop_duplicates()

### 실습2) 중복 값을 확인하고 모두 제거하여라. (함수의 parameter 기능을 읽어보고 활용할 것)
1. 중복 값 확인
2. 제거

In [ ]:
tips[tips.customer_id.duplicated(keep=False)]

In [ ]:
tips[tips.customer_id.duplicated()]

In [ ]:
tips.drop_duplicates(subset='customer_id', keep=False, inplace=True)
tips

## Summarizing and Computing Descriptive Statistics

In [ ]:
tips.describe()

In [ ]:
tips.total_bill.mean()

In [ ]:
tips.total_bill.quantile(0.25)

In [ ]:
tips.cumsum()

In [ ]:
tips.tip.idxmax()

In [ ]:
tips.tip.max()

In [ ]:
tips.loc[177, 'tip']

In [ ]:
tips.tip / tips.total_bill

In [ ]:
tips.tip + 1

## Function application and mapping

#### 숫자 다루기

In [ ]:
tips[['total_bill', 'tip']]

In [ ]:
def f(x):
    return x.max()

In [ ]:
tips[['total_bill', 'tip']].apply(lambda x: x.max())

In [ ]:
tips[['total_bill', 'tip']].apply(f)

In [ ]:
tips[['total_bill', 'tip']].apply(lambda x: x.max() - x.min())

In [ ]:
tips[['total_bill', 'tip']].apply(lambda x: x.max() - x.min(), axis=1)

In [ ]:
tips['tip'].apply(lambda x: x - 0.5)

In [ ]:
def f(x):
    return x*2
tips['tip'].apply(f)

#### 문자 다루기

In [ ]:
tips.day.replace('Friday', 'Fri')

In [ ]:
tips.day.replace(['Friday', 'fri'], 'Fri')

In [ ]:
dict_day = {'Friday': 'Fri'}
tips.day.map(dict_day)

In [ ]:
tips['day'].apply(str.lower) # tips['day'].apply(lambda x: str.lower(x))도 가능

#### 참고: apply, map, applymap의 차이: http://www.leejungmin.org/post/2018/04/21/pandas_apply_and_map/

### 실습 3) apply 함수를 이용하여 describe 함수를 구현하라. (tips[['total_bill', 'tip']]에만 적용 가능하면 됨)
1. count, mean, std, min, 25%, 50%, 75%, max 값을 인덱스로 하는 Series를 return 하는 함수 정의
2. apply 함수로 tips[['total_bill', 'tip']]에 1에서 정의한 함수 적용

In [ ]:
tips.describe()

In [ ]:
def f(x):
    return Series([x.count(), x.mean(), x.std(), x.min(), 
                   x.quantile(0.25), x.quantile(0.5), x.quantile(0.75), x.max()], 
                  index=['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])

In [ ]:
tips[['total_bill', 'tip']].apply(f)

### 실습 4) tips 데이터의 day 값을 4가지 분류로 통일하여라.
1. tips 데이터의 day 값 구성 파악
2. day 값을 4가지 분류로 나누는 dictionary 정의
3. map 또는 replace를 이용하여 day 값을 4가지 분류로 통일

In [ ]:
tips['day'] = tips['day'].apply(str.lower)

In [ ]:
tips.day.value_counts()

In [ ]:
day_dict = {'sunday': 'sun', 'saturday': 'sat', 'friday': 'fri', 'sun.': 'sun', 'sat.': 'sat'}

In [ ]:
tips.day.replace(day_dict)

In [ ]:
tips.day = tips.day.replace(day_dict)

In [ ]:
tips.day.value_counts()

## Data Aggregation and Group Operations
- split: 특정 기준으로 데이터를 그룹핑
- apply: 각 그룹에 특정 함수를 적용
- combine: 각 그룹에 함수를 적용한 결과를 묶어서 제시
<br>
<img src="https://i.stack.imgur.com/sgCn1.jpg" alt="Drawing" style="width: 450px;"/>

In [ ]:
tips.groupby('sex')

In [ ]:
tips.groupby('sex').groups

In [ ]:
grouped_sex = tips.groupby('sex')
grouped_sex.mean()
# tips.groupby('sex').mean()

In [ ]:
tips.groupby(['sex', 'day']).count()

In [ ]:
tips.groupby(['sex', 'day']).count()['customer_id']

### Iterating over groups

In [ ]:
for name, group in tips.groupby('smoker'):
    print (name)
    print (group)

In [ ]:
for (name1, name2), group in tips.groupby(['sex', 'smoker']):
    print (name1, name2)
    print (group)

In [ ]:
for name, group in tips.groupby(['sex', 'smoker']):
    print (name)
    print (group)

### Apply function

In [ ]:
def f(x):
    return x.head()
tips.groupby(['sex', 'smoker']).apply(f)
#tips.groupby(['sex','smoker'])

### 실습 5) 성별과 흡연 여부로 그룹핑 했을 때, 각 그룹에서 tip을 가장 많이 준 순서대로 5개씩의 전체 데이터를 보여라.
1. tip을 가장 많이 준 순서대로 5개씩 보여주는 함수 정의
2. groupby 함수를 이용해서 1에서 정의한 함수 적용

In [ ]:
def f(x):
    return x.sort_values('tip', ascending=False).iloc[:5, :]

tips.groupby(['sex', 'smoker']).apply(f)

## Data transformation

### Stack & Unstack

In [ ]:
tips.groupby(['sex', 'day']).count()['customer_id']

In [ ]:
tips.groupby(['sex', 'day']).count()['customer_id'].unstack()

### Pivot table

In [ ]:
tips

In [ ]:
tips.pivot_table(values='tip', index='sex', columns='day', aggfunc='mean')

In [ ]:
tips.pivot_table(values='customer_id', index='sex', columns='day', aggfunc='count')

### 실습 6) 각 요일별 성별별 지출 대비 팁의 비율(%)의 평균을 구하라.
1. 지출 대비 팁의 비율의 평균을 구하는 함수 정의
2. groupby 함수를 이용하여 1에서 정의한 함수를 각 그룹에 적용
3. stack 또는 unstack을 이용해 dataframe 변형

In [ ]:
def f(x):
    return (x.tip / x.total_bill).mean()*100

tips.groupby(['day', 'sex']).apply(f).unstack()

In [ ]:
def f(x):
    return (x.tip / x.total_bill).mean()*100

tips.groupby(['day', 'sex']).apply(f)